<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Bonjour <%= user.name %></p>
<p class="lead mb-3">Vous avez récolté <%= user.money %>€</p>
<a href="/map" class="btn btn-secondary">Map</a>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
