<h1>Habitants</h1>
<a href="/dashboard" class="btn btn-secondary">Dashboard</a>
<a href="/map" class="btn btn-secondary">map</a>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<br><br>
<h2>Ajouter un Habitant</h2>
<form action="/habitants" method="post">
  <span>Nom :</span><input type="text" name="name" required value="">
  <span>Adresse :</span><input type="text" name="address" required value="">
  <button class="btn btn-secondary" type="submit" name="button" onclick="">Ajouter</button>
</form>
